.card-slider {
  display: block;
  align-items: center;
}

.historyCard {
  /* background-color: black !important; */
  display: block !important;
  width: 240px !important;
  height: 400px !important;
}
